@model IEnumerable<Dimension_Data.Models.EmployeeModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>List of Employees</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.EmployeeNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmpId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmpHistoryId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EduId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SurveyId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmpPerfmId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmpJobId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.EmployeeNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmpId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmpHistoryId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EduId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SurveyId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmpPerfmId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmpJobId)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
